<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bungee-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow SoundScape access your location so you can pin the sound location on map.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow SoundScape access your photo library so you can change your profile picture.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow SoundScape access your microphone so you can record sound and share with other user on SoundScape.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Allow SoundScape access your Doucument folder so you can select audio file and share with other user on SoundScape.</string>
</dict>
</plist>
